@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SKU - Proyecto Conurbano SA</h1>
</div>

<div class="image-container">
<img src="./images/conurbano.png" alt="Alternate Text" height="800" width="800" />
</div>