html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@keyframes blink {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1.0;
    }
}

/* Aplicación de la animación al botón */
.blink-animation {
    animation: blink 1s infinite; /* La animación dura 1 segundo y se repite infinitamente */
}


/* Configuración imagen de fondo en pagina de inicio*/
body {
    background: url('~/images/conurbano.png') no-repeat center center fixed;
    background-size: cover;
    /* Opcional: Ajusta la opacidad del fondo mediante un color semitransparente */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con 80% de opacidad */
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con 80% de opacidad */
    padding: 20px;
    border-radius: 10px;
}
